---
/**
 * Responsive row wrapper that auto-adjusts the number of cards per breakpoint.
 */
interface Props {
  columnsMd?: number;
}

const { columnsMd = 3 } = Astro.props;
---

<div class={`row row-cols-1 row-cols-md-${columnsMd} g-4`}>
  <slot />
</div>
